@model StudentManager.web.ViewModels.StudentDetailsViewModel

@{
    ViewBag.Title = "Student Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.FirstName @Model.LastName Details </h4>
    <hr/>
    <div class="row">
        <div class="col-sm-4 text-righ"> @Html.DisplayNameFor(model => model.FirstName)</div>
        <div class="col-sm-8">@Html.DisplayFor(model => model.FirstName)</div>

        <div class="col-sm-4 text-righ">@Html.DisplayNameFor(model => model.LastName)</div>
        <div class="col-sm-8">@Html.DisplayFor(model => model.LastName)</div>

        <div class="col-sm-4 text-righ">@Html.DisplayNameFor(model => model.Email)</div>
        <div class="col-sm-8">@Html.DisplayFor(model => model.Email)</div>


        <div class="col-sm-4 text-righ">@Html.DisplayNameFor(model => model.Year)</div>
        <div class="col-sm-8">@Html.DisplayFor(model => model.Year)</div>


        <div class="col-sm-4 text-righ">@Html.DisplayNameFor(model => model.BirthDay)</div>
        <div class="col-sm-8">@Html.DisplayFor(model => model.BirthDay)</div>


        <div class="col-sm-4 text-righ">@Html.DisplayNameFor(model => model.Address1)</div>
        <div class="col-sm-8">@Html.DisplayFor(model => model.Address1)</div>


        <div class="col-sm-4 text-righ">@Html.DisplayNameFor(model => model.Address2)</div>
        <div class="col-sm-8">@Html.DisplayFor(model => model.Address2)</div>


        <div class="col-sm-4 text-righ">@Html.DisplayNameFor(model => model.City)</div>
        <div class="col-sm-8">@Html.DisplayFor(model => model.City)</div>

        <div class="col-sm-4 text-righ">@Html.DisplayNameFor(model => model.Country)</div>
        <div class="col-sm-8">@Html.DisplayFor(model => model.Country)</div>


        <div class="col-sm-4 text-righ">@Html.DisplayNameFor(model => model.IsActive)</div>
        <div class="col-sm-8">@Html.DisplayFor(model => model.IsActive)</div>

        <div class="col-sm-4 text-righ">@Html.DisplayNameFor(model => model.StudentClass.Name)</div>
        <div class="col-sm-8">@Html.DisplayFor(model => model.StudentClass.Name)</div>


    </div>

</div>
<p class="btn-group">
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}, new {@class = "btn btn-default"})
    @Html.ActionLink("Back to List", "Index", "Student", "", new {@class = "btn btn-default"})
</p>
<h4>Courses</h4>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Name
        </th>
        <th>
            Year
        </th>
        <th>
            Semester
        </th>
        <th>
            Credits
        </th>

        <th>
            Grades
        </th>
    </tr>

    @foreach (var item in Model.Courses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @foreach (var x in item.Grades)
                {


                    @Html.DisplayFor(modelItem => x.Value) @:&nbsp; &nbsp; &nbsp;

                }

            </td>
        </tr>
    }

</table>