@using System.Activities.Statements
@model IEnumerable<StudentManager.web.ViewModels.StudentsViewModel>
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "CreateStudent","Student","", new{@class="btn btn-default"})
</p>
<h2>Active students</h2>
<table class="table table-striped">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Year)
        </th>

        <th scope="col">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsActive == true)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new{@class="btn btn-default"}) 
                    @Html.ActionLink("Details", "DetailsAsync", new {id = item.Id}, new{@class="btn btn-default"}) 
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new{@class="btn btn-default"})
                </td>
            </tr>
        }
    }

</table>
<h2>Inactive students</h2>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>

        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsActive == false)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new{@class="btn btn-default"}) 
                    @Html.ActionLink("Details", "DetailsAsync", new { id = item.Id }, new{@class="btn btn-default"}) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new{@class="btn btn-default"})
                </td>
            </tr>
        }
    }

</table>