@model StudentManager.web.ViewModels.ClassViewModel


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.ClassName</h4>
    <hr />
    <div class="row">
        <div class="col-sm-4 text-righ" >@Html.DisplayNameFor(model => model.ClassName)</div>
        <div class="col-sm-8" >@Html.DisplayFor(model => model.ClassName)</div>

        <div class="col-sm-4 text-righ" >@Html.DisplayNameFor(model => model.NrOfStudentsAllocated)</div>
        <div class="col-sm-8" >@Html.DisplayFor(model => model.NrOfStudentsAllocated)</div>


        <div class="col-sm-4 text-righ" >@Html.DisplayNameFor(model => model.IsActive)</div>
        <div class="col-sm-8" >@Html.DisplayFor(model => model.IsActive)</div>

    </div>

    
</div>
<p class="btn-group">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new{@class="btn btn-default"})
    @Html.ActionLink("Back to List", "Index","Classes", "", new{@class="btn btn-default"})
</p>


<h4>Students</h4>
<table class="table">
    <tr>
        <th>
           First Name
        </th>
        <th>
            First Last
        </th>
        <th>
            Year
        </th>
        <th>
            Active
        </th>

        <th>Actions</th>
    </tr>
    @foreach (var item in Model.Students)
    {
        if (item.IsActive == true)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td class="btn-group">
                    
                    @Html.ActionLink("Edit", "Edit", "Student", new {id = item.Id}, new {@class = "btn btn-default"})
                    @Html.ActionLink("Details", "DetailsAsync", "Student", new {id = item.Id}, new {@class = "btn btn-default"})
                    @Html.ActionLink("Delete", "Delete", "Student", new {id = item.Id}, new {@class = "btn btn-default"})
                </td>
            </tr>

        }
    }

</table>
