@model IEnumerable<StudentManager.web.ViewModels.ClassViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>All groups</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Classes","", new{@class="btn btn-default"})
</p>
<h2>Active groups</h2>
<table class="table table-striped">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.NrOfStudentsAllocated)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsActive)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrOfStudentsAllocated)
                </td>

                <td class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new{@class="btn btn-default"}) 
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new{@class="btn btn-default"}) 
                </td>
            </tr>
        }

    }

</table>
<h2>Inactive groups</h2>
<table class="table table-striped">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th scope="col" >
            @Html.DisplayNameFor(model => model.NrOfStudentsAllocated)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        if (!item.IsActive)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrOfStudentsAllocated)
                </td>

                <td class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new{@class="btn btn-default"})
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new{@class="btn btn-default"}) 
                </td>
            </tr>
        }

    }

</table>
